<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Subhasis Dutta - Profile</title>   

<meta name="description" content="This Web Application contains all the details of the work done by Subhasis Dutta." /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>
</head>


<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<!-- <div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption">
    	
    	</div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div> -->
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Subhasis Dutta"> Subhasis Dutta </a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#work">My Work</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#contact">Contact</a></li>
				<!-- <li><a href="shortcodes.html" class="external">Shortcodes</a></li> -->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">My Work</h2>
                    <h3 class="title-description">Some of the work that I have done ...</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Select to Filter</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                        <li><a href="#filter" data-option-value=".workexperience">Work Experience</a></li>
                        <li><a href="#filter" data-option-value=".personalprojects">Personal Projects</a></li>
                        <li><a href="#filter" data-option-value=".publication">Publication</a></li>
                        <li><a href="#filter" data-option-value=".awards">Awards & Honours</a></li>
                        <li><a href="#filter" data-option-value=".undergradprojects">Undergraduation Projects</a></li>                        
                        <li><a href="#filter" data-option-value=".skills">My Skills</a></li>  
                                              
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
                        	<!-- Work Experience : GE Healthcare -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="General Electric - Healthcare" href="tempasset/work/workexperience/full/JFWTC.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/GE_Healthcare_logo.jpg" alt="Currently Working as a part of a team that build product's that help hospitals provision their resources and carry out all governance related analytic activities.">
                            </li>	
                            <!-- Work Experience : IBM -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="International Business Machine – India Software Labs" href="tempasset/work/workexperience/full/IBM_Bangalore_Manyata.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/ibm-logo.jpg" alt="Worked on Intelligent Evidence Gathering (IEG) component of IBM Curam Social Program Management, which is a business and technology platform that delivers pre-built social program components, tools and interface.">
                            </li>
                            <!-- Work Experience : Infosys -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Infosys" href="tempasset/work/workexperience/full/Infosys.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/Infosys.jpg" alt="Worked for 3 years in different projects. And published two whitepapers on analyzing the Robotic Trends and Opportunities for Infosys in the field of Robotics, especially leveraging the power of cloud computing.">
                            </li>                            
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Serendio" href="tempasset/work/workexperience/full/serendio.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/serendio.jpg" alt="Worked on different exploratory projects like log analysis using ELK (Elasticsearch, Logstash and Kibana) stack and data processing using Hadoop Cluster.">
                            </li>	
                            <!-- Work Experience : Infinilytics -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Infinilytics" href="tempasset/work/workexperience/full/Infinilytics.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/Infinilytics-logo.jpg" alt="Worked to create data processing and visualization system for fraud detection in insurance claims using graph database for link analysis and helped create knowledge base for use in predictive analytics.">
                            </li>	
                            <!-- Work Experience : XSRobotics -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="XS Robotics" href="tempasset/work/workexperience/full/xsrobotics.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/xsrobotics.jpg" alt="During undergraduation, co-founded a hobby robotics company to sell products and provide training services to students intrested in learning about bots.">
                            </li>	
                            <!-- Work Experience : Lakshya -->
                        	<li class="item-thumbs span3 workexperience">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="XS Robotics" href="tempasset/work/workexperience/thumb/lakshya.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/workexperience/thumb/lakshya.jpg" alt="Worked as a trainer for 3 months in training engineering under-graduates on how to design and develop robot platform that they can be used for different innovative projects.">
                            </li>			
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IARCS Computing Olympard Bangalore" href="tempasset/work/certificates/full/1.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/1.jpg" alt="IARCS Computing Olympard Bangalore.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2008 Mission Mars " href="tempasset/work/certificates/full/2.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/2.jpg" alt="IIT KGP 2008 Mission Mars .">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="ROBOCON 2009" href="tempasset/work/certificates/full/3.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/3.jpg" alt="ROBOCON 2009.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="ROBOCON 2008" href="tempasset/work/certificates/full/4.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/4.jpg" alt="ROBOCON 2008.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2009 Micromouse4d" href="tempasset/work/certificates/full/5.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/5.jpg" alt="IIT KGP 2009 Micromouse4d.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2009 12 doors down" href="tempasset/work/certificates/full/6.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/6.jpg" alt="IIT KGP 2009 12 doors down.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2009 Wedged" href="tempasset/work/certificates/full/7.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/7.jpg" alt="IIT KGP 2009 Wedged.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2009 mesh" href="tempasset/work/certificates/full/8.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/8.jpg" alt="IIT KGP 2009 mesh.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2008 Tera Ranger" href="tempasset/work/certificates/full/9.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/9.jpg" alt="IIT KGP 2008 Tera Ranger.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="IIT KGP 2008 Stackistics" href="tempasset/work/certificates/full/10.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/10.jpg" alt="IIT KGP 2008 Stackistics.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="KIIT 2008 RoboWar" href="tempasset/work/certificates/full/11.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/11.jpg" alt="KIIT 2008 RoboWar.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="KIIT 2008 Submersible" href="tempasset/work/certificates/full/12.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/12.jpg" alt="KIIT 2008 Submersible.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="KIIT 2008 Crack the track" href="tempasset/work/certificates/full/13.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/13.jpg" alt="KIIT 2008 Crack the track.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="KIIT 2007" href="tempasset/work/certificates/full/14.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/14.jpg" alt="KIIT 2007.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="ITER 2008 CHAKRAVYHU 2008" href="tempasset/work/certificates/full/15.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/15.jpg" alt="ITER 2008 CHAKRAVYHU 2008.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="CET 2007" href="tempasset/work/certificates/full/16.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/16.jpg" alt="CET 2007.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Silicon 2007 Robotics" href="tempasset/work/certificates/full/17.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/17.jpg" alt="Silicon 2007 Robotics.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="NIST 2007 Robotics" href="tempasset/work/certificates/full/18.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/18.jpg" alt="NIST 2007 Robotics.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="NIST 2007 best model" href="tempasset/work/certificates/full/19.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/19.jpg" alt="NIST 2007 best model.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="NIST 2007 On spot Model" href="tempasset/work/certificates/full/20.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/20.jpg" alt="NIST 2007 On spot Model.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="OEC 2009" href="tempasset/work/certificates/full/21.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/21.jpg" alt="OEC 2009.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="OEC 2008 RoboHockey" href="tempasset/work/certificates/full/22.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/22.jpg" alt="OEC 2008 RoboHockey.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="OEC 2008 RoboRace" href="tempasset/work/certificates/full/23.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/23.jpg" alt="OEC 2008 RoboRace.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="OEC 2007" href="tempasset/work/certificates/full/24.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/24.jpg" alt="OEC 2007.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="CV Raman 2008" href="tempasset/work/certificates/full/25.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/25.jpg" alt="CV Raman 2008.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="GIET 2007 Road Rash" href="tempasset/work/certificates/full/26.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/26.jpg" alt="GIET 2007 Road Rash.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="GIET 2007 Aqua Robo" href="tempasset/work/certificates/full/27.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/27.jpg" alt="GIET 2007 Aqua Robo.">
                            </li>
                            <!-- Awards :  -->
                        	<li class="item-thumbs span3 awards">                            	
                            	<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="COEB 2008 " href="tempasset/work/certificates/full/28.jpg">
                                	<span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>                                
                                <img src="tempasset/work/certificates/thumb/28.jpg" alt="COEB 2008 .">
                            </li>
                        </ul>
                    </section>
                    
            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Me</h2>                
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">                
                <img src="tempasset/aboutme/profile.JPG" alt="Subhasis Dutta">
            </div>
            <h3 class="profile-name">Subhasis Dutta</h3>
            <p class="profile-description">Howdy, I am a Software Engineer currently working at GE Healthcare, with an experience of more than 4 years. 
            I work on developing web applications using wide range of technologies ranging from web application that can server more
             than million request per month to prototype application using new open source technologies. Before joining the IT
             industry, I had co-founded a start-up “XSROBOTICS” with an objective to develop products and provide services for the education
              and hobby robotics market. </p>
            	
            
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile 
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                </div>
                <img src="_include/img/profile/profile-02.jpg" alt="Jane Helf">
            </div>
            <h3 class="profile-name">Jane Helf</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            	
            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-email"></i></a></li>
                </ul>
            </div>
        </div>-->
        <!-- End Profile -->
        
        <!-- Start Profile 
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img src="_include/img/profile/profile-03.jpg" alt="Joshua Insanus">
            </div>
            <h3 class="profile-name">Joshua Insanus</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            	
            <div class="social">
            	<ul class="social-icons">
                	<li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div>-->
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Get in Touch</h2>
                <h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
    	<div class="span9">
        
        	<form id="contact-form" class="contact-form" action="#">
            	<p class="contact-name">
            		<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
                </p>
                <p class="contact-email">
                	<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
                </p>
                <p class="contact-message">
                	<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                	<a id="contact-submit" class="submit" href="#">Send Your Email</a>
                </p>
                
                <div id="response">
                
                </div>
            </form>
         
        </div>
        
        <div class="span3">
        	<div class="contact-details">
        		<h3>Contact Details</h3>
                <ul>
                    <li>Subhasis Dutta</li>
                    <li><a href="mailto:subhasisdutta300887@gmail.com">subhasisdutta300887@gmail.com</a></li>
                    <li>(+91) 9686433777</li>
                    <li>
                        Bangalore
                        <br>
                        India
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->

<!-- Twitter Feed -->
<!-- 
<div id="twitter-feed" class="page-alternate">
	<div class="container">
    	
    	
    	<div class="row">
            <div class="span12">
                <div class="follow">
                	
                    <a href="https://twitter.com/Subhasis_Dutta_" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                </div>                    
                 <div id="ticker" class="query"> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Twitter Feed -->

<!-- Socialize -->
<div id="social-area" class="page">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                    	<li><a href="https://github.com/SubhasisDutta" title="Follow Me on Github" target="_blank"><span class="font-icon-social-github"></span></a></li>
                        <li><a href="https://twitter.com/Subhasis_Dutta_" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>                                                                        
                        <li><a href="https://www.facebook.com/dutta.subhasis" title="Connect With Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/+SubhasisDuttaGoogle/" title="Connect With Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        <li><a href="http://in.linkedin.com/pub/subhasis-dutta/45/9b5/702" title="Connect With Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>                                               
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Socialize -->

<!-- Footer -->
<footer>
	<p class="credits">&copy;2014 Created By <a href="http://www.subhasisdutta.com/" title="Subhasis Dutta | Developer">Subhasis Dutta</a>. Web Template designed by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script type="text/javascript">
	var homePageSliderData = [{image : '_include/img/slider-images/image01.jpg', 
							   title : '<div class="slide-content">Research Intrest</div>', 
							   thumb : '', 
							   url : 'http://www.mrc-productivity.com/techblog/?p=1847'},
                              {image : '_include/img/slider-images/image02.jpg', 
							   title : '<div class="slide-content">Work Related projects</div>', 
							   thumb : '', 
							   url : ''},
                              {image : '_include/img/slider-images/image03.jpg', 
							   title : '<div class="slide-content">XSPower work</div>', 
							   thumb : '', 
							   url : ''}                                
                      ];
</script>
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->
<!-- Analytics -->
<script type="text/javascript">

  /*var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();*/

</script>
<!-- End Analytics -->
</body>
</html>